.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: 0;
  background-color: $jumbotron-bg;
  @include border-radius(0);
  
  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
  
  .row {
    padding: 0;
  }

  &.jumbotron-full-height {
    min-height: calc(100vh - 6rem)  !important;
    margin-bottom: 3rem;
  }

  .jumbotron-btn {
    margin-top: 3rem;
  }

  .jumbotron-logo {
      max-width: 180px;
      margin-bottom: 3rem;
  }

}