
//SIDEBAR
.wrapper {
    width: 100%;
  }
  
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $primary;
    color: $white;
    transition: all 0.3s;
    position: relative;
    font-family: $font-family-base;

    .sidebar-logo {
        padding: 0 2.8rem 3rem;
        width: 100%;
    }   

    .h6{
        color: $white;
    }
    &.active{
        margin-left: -250px;
        .custom-menu{
              margin-right: -1.5rem;
        }
    }
    h1{
        margin-bottom: 20px;
        font-weight: 700;
        .logo{
            color: $white;
        }
    }
    ul.components{
        padding: 0;
    }
    ul{
      li{
          font-size: 16px;
          >ul{
              margin-left: 10px;
              li{
                  font-size: 14px;
              }
          }
          a{
              padding: 10px 0;
              display: block;
              color: $white;
              border-bottom: 1px solid rgba(255,255,255,.1);
              &:hover{
                  color: $white;
              }
          }
          &.active{
              > a{
                  background: transparent;
                  color: $white;
              }
          }
      }
    }

    .sidebar-footer {
        text-align: center;
        width: 100%;
        
        .sidebar-footer-logo {
            max-width: 120px;
            display: block;
            margin: .25rem auto;
            float: none;
        }
    }

    @include media-breakpoint-down(md){
      margin-left: -250px;
      &.active {
        margin-left: 0;
      }
      .custom-menu{
          margin-right: -50px !important;
          top: 10px !important;
      }
    }
  
    .custom-menu{
          display: inline-block;
          position: absolute;
          top: 1rem;
          right: -20px;
          @include transition(.3s);
          .btn{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              text-align: center;
              display: block;
              z-index: 1000;
              padding: 0;
              .fa {
                  color: $primary;
              }
              &.btn-primary{
                  background: $rdb-white;
                  border-color: $rdb-white;
                  &:hover {
                      background: $primary !important;
                      border-color: $primary !important;

                      .fa {
                        color: $rdb-white;
                    }
                  }
              }
          }
    }


  }
  
  
  a[data-toggle="collapse"] {
      position: relative;
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  #sidebarCollapse{
      span{
          @include media-breakpoint-down(md){
          display: none;
          }
      }
  }
  
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
  }
  