// * * * * RADICALBIT * * * *
$rdb-viking: #73B2E0;
$rdb-iron: #E6E7E8;
$rdb-oslo-gray:#8D9090;
$rdb-abbey: #4B4F54;
$rdb-white: #FFFFFF;
$rdb-black: $rdb-abbey;

$rdb-aquamarine: #24cc9b;
$rdb-lilac: #777fce;
$rdb-anakiwa: #538fff;
$rdb-default: #A7B3B8;
$rdb-persian-green: #00a8aa;

$primary: $rdb-viking; 


$font-family-sans-serif: 'Lato', sans-serif;
$font-family-monospace: 'Inconsolata', monospace;

