<div class="row txt-align-center bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Headquarter</h3>
            <p>Via Pirelli, 11
                20124 Milan</p>
          </div>
          <div class="col-md-3">
            <h3> Milan</h3>
            <p>Via Pietro Borsieri, 41
                20159 Milan</p>
          </div>
          <div class="col-md-3">
            <h3>Amsterdam</h3>
            <p>Egelantiersgracht, 99
                1015 re Amsterdam</p>
          </div>
          <div class="col-md-3">
            <h3> London</h3>
            <p>North end road, 404
                sw6 1lu London</p>
          </div>
        </div>
        <div class="row">
            <div class="col">
              Radicalbit S.r.l. • P.Iva 09292580967‬ • Radicalbit benefits from the funds granted by POR Regione Veneto
            </div>
        </div>
      </div>
  </div>

<!-- JS -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<script src="js/main.js"></script>