<nav id="sidebar" class="gradient-two">
  <div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
  </div>
  <div class="p-4">
    <a href="/" class="logo">
      <img src="/assets/logos/NSDB-squared-nega.png" class="sidebar-logo"/>
    </a>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="/Products" >Product</a>
          <ul class="list-unstyled" id="homeSubmenu">
            <li>
                <a href="/Architecture">Optimized time series management</a>
            </li>
            <li>
                <a href="/Clustering">High availability and clustering</a>
            </li>
            <li>
              <a href="/Rest">Web Apis</a>
            </li>
            <li>
              <a href="/PublishSubscribe">Ad-hoc publish-subscribe streaming feature</a>
            </li>
            <li>
                <a href="/SQL">SQL like query language</a>
            </li>
            <li>
                <a href="/API_doc">Fluent Java / Scala Api</a>
            </li>
            <li>
              <a href="/CLI_doc">Command Line Interface</a>
          </li>
          </ul>
        </li>
        <li>
            <a href="/Getting-started">Getting Started</a>
        </li>
        <li>
          <a href="/Community">Community</a>      
        </li>
      </ul>
      <footer class="sidebar-footer">
        <small>Powered by</small>
        <img src="/assets/logos/RDB-negaOrizzontalemdpi.png" class="sidebar-footer-logo"/>
      </footer>
  </div>
</nav>