<ul class="list-unstyled" id="homeSubmenu">
  <li>
      <a href="/Architecture">Optimized Time Series Db</a>
  </li>
  <li>
      <a href="/Clustering">Clustering</a>
  </li>
  <li>
    <a href="/Rest">Web Apis</a>
  </li>
  <li>
    <a href="/PublishSubscribe">Publish-subscribe Streaming</a>
  </li>
  <li>
      <a href="/SQL">SQL like query language</a>
  </li>
  <li>
      <a href="/API_doc">Fluent Java / Scala Api</a>
  </li>
  <li>
    <a href="/CLI_doc">Command Line Interface</a>
</li>
</ul>