<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="rdb-home">
    <div class="wrapper d-flex align-items-stretch">
      {% include navbar.html %}
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <main role="main">
          <div class="jumbotron  jumbotron-full-height txt-align-center gradient  gradient-one ">
            <div class="container">
              <img src="/assets/images/NSDB-squared-nega.png" class="jumbotron-logo"/>
              <h1>{{ page.title }}</h1>
              <h5>{{ page.subtitle }}</h5>
              <a class="btn btn-primary btn-negative jumbotron-btn btn-lg" href="#" role="button">{{page.button-txt}} &raquo;</a>
            </div>
            <div class="jumbotron-bottom"></div>
          </div>
          <div class="jumbotron  jumbotron-full-height">
            <div class="container">
              <div class="row txt-align-center">
                <div class="col">
                  <h2 class="text-primary"> {{ page.about-title }}</h2>
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
          <div class="row txt-align-center gradient gradient-two">
            <div class="col">
              <div class="container">
                <div class="row row-width-800">
                  <div class="col-md-6">
                    <h3> {{ page.key-benefits-01-title }}</h3>
                    {{ page.key-benefits-01-content }}
                  </div>
                  <div class="col-md-6">
                    <h3> {{ page.key-benefits-02-title }}</h3>
                    {{ page.key-benefits-02-content }}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <a class="btn btn-primary btn-negative jumbotron-btn btn-lg" href="#" role="button">{{page.button-txt}} &raquo;</a>
                  </div>
                </div>
                <div class="row row-width-800">
                  <div class="col-md-6">
                    <h3> {{ page.key-benefits-03-title }}</h3>
                    {{ page.key-benefits-03-content }}
                  </div>
                  <div class="col-md-6">
                    <h3> {{ page.key-benefits-04-title }}</h3>
                    {{ page.key-benefits-04-content }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row txt-align-center">
            <div class="col">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h2> {{ page.module-title }}</h2>
                  </div>
                </div>
                <div class="row row-width-800">
                  <div class="col-md-6">
                    <h3> {{ page.title-short }}</h3>
                    {{ page.txt-short }}
                  </div>
                  <div class="col-md-6">
                    <h3> {{ page.title-short }}</h3>
                    {{ page.txt-short }}
                  </div>
                </div>
                <div class="row row-width-800">
                  <div class="col-md-6">
                    <h3> {{ page.title-short }}</h3>
                    {{ page.txt-short }}
                  </div>
                  <div class="col-md-6">
                    <h3> {{ page.title-short }}</h3>
                    {{ page.txt-short }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <img class="card-logo" src="/assets/images/NSDB-squared-posi.png">
                      <h5 class="card-title">Special title treatment</h5>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card">
                      <img class="card-logo" src="/assets/images/NSDB-squared-posi.png">
                      <h5 class="card-title">Special title treatment</h5>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
