<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="rdb-home">
    <div class="wrapper d-flex align-items-stretch">
      {% include sidebar.html %}
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <main role="main">
          <div class="jumbotron  jumbotron-full-height txt-align-center gradient  gradient-one ">
            <div class="container">
              <img src="/assets/logos/NSDB-squared-nega.png" class="jumbotron-logo"/>
              <h1>{{ page.title }}</h1>
              <h5>{{ page.subtitle }}</h5>
              <a class="btn btn-primary btn-negative jumbotron-btn btn-lg" href="{{page.button1-link}}" role="button">{{page.button1-txt}} &raquo;</a>
            </div>
            <div class="jumbotron-bottom"></div>
            <a target="blank" href="https://github.com/radicalbit/NSDb/blob/master/LICENSE" class="licence"><img src="https://img.shields.io/github/license/radicalbit/NSDb.svg" alt="License"></a>
          </div>
          <div class="jumbotron  jumbotron-full-height">
            <div class="container">
              <div class="row txt-align-center">
                <div class="col">
                  <h2 class="text-primary"> {{ page.about-title }}</h2>
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
          <div class="jumbotron  jumbotron-full-height gradient gradient-two">
            <div class="row txt-align-center">
              <div class="col">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <h2>{{ page.key-benefits-title }}</h2>
                    </div>
                  </div>
                  <div class="row row-width-800">
                    <div class="col-md-6">
                      <h3> {{ page.key-benefits-01-title }}</h3>
                      {{ page.key-benefits-01-content }}
                    </div>
                    <div class="col-md-6">
                      <h3> {{ page.key-benefits-02-title }}</h3>
                      {{ page.key-benefits-02-content }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <a class="btn btn-primary btn-negative jumbotron-btn btn-lg" href="{{page.button2-link}}" target="_blank" role="button">{{page.button2-txt}} &raquo;</a>
                    </div>
                  </div>
                  <div class="row row-width-800">
                    <div class="col-md-6">
                      <h3> {{ page.key-benefits-03-title }}</h3>
                      {{ page.key-benefits-03-content }}
                    </div>
                    <div class="col-md-6">
                      <h3> {{ page.key-benefits-04-title }}</h3>
                      {{ page.key-benefits-04-content }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row txt-align-center">
            <div class="col-md-6">
              <img class="nsdb-logo" src="/assets/logos/NSDB-squared-posi.png">
              <h2 class="card-title">{{ page.card-left-title }}</h2>
              <p>{{ page.card-left-content }}</p>
              <a href="{{ page.card-left-button-link }}" class="btn" target="_blank">{{ page.card-left-button-label }}</a>
            </div>
            <div class="col-md-6">
              <img class="nsdb-logo" src="/assets/logos/NSDB-squared-posi.png">
              <h2 class="card-title">{{ page.card-right-title }}</h2>
              <p>{{ page.card-right-content }}</p>
              <a href="{{ page.card-right-button-link }}" class="btn btn-primary">{{ page.card-right-button-label }}</a>
            </div>
          </div>
          <div class="txt-align-center">
            <small>NSDb is a product by Radicalbit S.r.l. • VAT IT09292580967‬</small>
          </div>
        </main>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
