<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="rdb-page">
	<div class="wrapper d-flex align-items-stretch">
		{% include sidebar.html %}
    	<!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
		{% include breadcrumb-product.html %}
		<h1 class="mb-4">{{ page.title }}</h1>
		{{ content }}
		<div class="d-sm-block d-md-none">
			<h3>Main NSDb Features</h3>
			{% include sidebar-secondary-links.html %}
		</div>
		{% include footer.html %}
      </div>
	</div>

  </body>
</html>
